<%provide(:title, "Sing up")%>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <%= form_for(@user, url: signup_path) do |user| %>
    <%= render 'shared/error_messages' %>

    <%= user.label :name %>
    <%= user.text_field :name, class: 'form-control' %>

    <%= user.label :email %>
    <%= user.text_field :email, class: 'form-control' %>

    <%= user.label :password %>
    <%= user.password_field :password, class: 'form-control' %>

    <%= user.label :password_confirmation, "Password confirmation" %>
    <%= user.password_field :password_confirmation, class: 'form-control' %>

    <%= user.submit "Create my account", class: "btn btn-primary" %>

  <%end%>
  </div>
</div>




